@media (min-width: 1200px) {
    .container{
        max-width: 740px;
    }
}

body{
  padding-top: 10px;
  padding-bottom: 20px;
}

.header{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.nav{
  margin-top: 25px;
}

.nav a{
  padding: 10px 0px 10px 15px;
}

.nav a.dropdown-toggle{
  cursor: pointer;
}

.nav .open>a{
  background-color: white !important;
}

li:hover{
  background-color: white !important;
}

.items .item_details{
  float:left;
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  position: relative;
}

.items .item_details .term{
  margin-right: 5%;
  width: 30%;
  float:left;
  font-size: 16px;
}

.items .item_details .definition{
  float:left;
  clear:none;
  width: 55%;
}

.items .item_details .actions{
  float:left;
  clear:none;
  width: 10%;
  position: relative;
}

.items .item_details .actions .buttons{
  float: left;
  position: absolute;
  right: 1px;
  padding-left: 5px;
}

.items .item_details .actions a{
  margin-bottom: 8px;
}
